.allcontainer {
  height: 100%;
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
  width: 100%;
}
.allProfiles-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 0px;
  padding-left: 3.5em;
  margin-left: 16%;
}

.allProfiles-post {
  padding-top: 0.5em;
  padding-bottom: 2em;
}

.allProfiles-post-header {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.profileCard-card-padding {
  padding-right: 5rem;
  padding-bottom: 5em;
}

.profileCard-card-candidate-info {
  font-size: 1em !important;
  font-weight: 500;
  color: #606060;
  text-align: center;
  text-transform: capitalize !important;
  margin-bottom: 1em;
}

.profileCard-card-profile-photo-padding {
  padding: 0rem 2rem;
}

.profileCard-card-profile-photo {
  text-align: center;
  border-radius: 50%;
  width: 11rem !important;
  height: auto !important;
  margin: 2.5em;
  margin-bottom: 1em;
}

.profileCard-card-candidate-name {
  font-size: 1.5em !important;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5em;
  text-transform: capitalize !important;
}

.Link:hover {
  background-color: #edf2f9;
}

.navbar {
  font-size: 2em;
  background-color: black !important;
  margin: 20em !important;
}

.MobileNavbar {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .allcontainer {
    height: 100%;
    margin: 0px;
    margin-top: 110px;
    padding: 0px;
    width: 100%;
  }
  .Navbar {
    display: none !important;
  }
  .allProfiles-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 0%;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 10%;
    top: 0px !important;
  }
  .MobileNavbar {
    visibility: visible !important;
    position: fixed;
    z-index: 2;
    background-color: white;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-left: 0px;
    display: flex;
    width: 100% !important;
    flex-direction: row;
    margin-top: 0px !important;
    padding: 0px !important;
    margin-bottom: 10%;
  }
  .mobiletext1 {
    flex: 1;
    width: 100%;
    font-size: 1.2em;
    background-color: #356dbf;
    text-align: center;
    padding: 2%;
  }
  .mobiletext {
    flex: 1;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    padding: 2%;
  }
}
