.content-div {
  height: 100%;
  width: 100%;

  display: flex !important;
  flex-direction: column;
  justify-content: center;

  flex-grow: 1;
}

.pushable {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.pusher-content {
  /*width: calc(100% - 260px);*/
  overflow: auto !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  background: #f2f4f7 !important;
  padding: 20px;
  height: 100%;
}

.questions-all {
  padding-left: 3em;
  padding-bottom: 1em;
}

.question-filters {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

.question-segment {
  width: 40%;
}

.candidate-profile {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*HomePage Candidate Card */
.card-candidate-name {
  font-size: 1.5em !important;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize !important;
}

.card-profile-photo {
  text-align: center;
  border-radius: 50%;
  width: 15rem !important;
  height: auto !important;
  margin: 2.5em;
}

.card-profile-photo-padding {
  padding: 4rem;
}

.question-card-question {
  font-size: large;
}

.question-card-button {
  margin-top: 1em;
}

.question-card-meta {
  padding-left: 1.5em;
}

.allquestions-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
