.answerQuestions-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 18%;
}

.answerques-brdcrumb {
  margin-bottom: 1%;
}

.answercontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Link:hover {
  background-color: #edf2f9;
}

.rightside {
  margin-right: 2%;
  width: 90%;
  margin-left: 10%;
}

.inputbox {
  margin-top: 20px;
  display: flex;
  width: 100%;
  margin-right: 2em;
  flex-direction: row;
}

.question-card-container {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

.answer-card-unanswered {
  color: #356dbf;
}

.inputtext {
  border: none !important;
  border-radius: 0px !important;
  margin-right: 2%;
  width: 85%;
  padding-left: 2%;
}

.inputsubmit {
  color: aliceblue !important;
  margin-left: 1% !important;
  height: 40px;
  width: 6em !important;
  border-radius: 2px !important;
  font-size: 20px !important;
  font-weight: normal !important;
  background-color: #356dbf !important;
  background: #356dbf !important;
  padding: 1% !important;
  margin-right: 1% !important;
}

.question-card-meta-like {
  color: #a7a7a7;
  margin-top: 0px;
}

.question-card-button {
  margin-top: 0px;
  margin-left: 1.5em;
}

@media only screen and (max-width: 1000px) {
  .inputbox {
    margin-top: 20px;
    display: flex;
    margin-left: 0.2em;
    flex-direction: column;
    margin-bottom: 2%;
  }
  .inputsubmit {
    width: 90px !important;
    margin-left: 3% !important;
  }
  .answerQuestions-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 0%;
    width: 100%;
  }
  .answercontainer {
    display: flex;
    flex-direction: column;
  }
  .rightside {
    margin-right: 2%;
    width: 90%;
    margin-left: 0%;
  }
}

@media only screen and (max-width: 500px) {
  .answerQuestions-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 30%;
    margin-left: 2%;
    width: 100%;
  }
}
